<!DOCTYPE html>
<!--
	Prologue by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Gameone Lunch Chart</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="/lunchchart/assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/lunchchart/assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="/lunchchart/assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="/lunchchart/assets/css/ie9.css" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
			<div id="header">

				<div class="top">

					<!-- Logo -->
						<div id="logo">
							<span class="image avatar48"><img src="/lunchchart/images/gameone.png" alt="" /></span>
							<h1 id="title">Gameone</h1>
							<p>Sports Only ONE!</p>
						</div>

					<!-- Nav -->
						<nav id="nav">
							<!--

								Prologue's nav expects links in one of two formats:

								1. Hash link (scrolls to a different section within the page)

								   <li><a href="#foobar" id="foobar-link" class="icon fa-whatever-icon-you-want skel-layers-ignoreHref"><span class="label">Foobar</span></a></li>

								2. Standard link (sends the user to another page/site)

								   <li><a href="http://foobar.tld" id="foobar-link" class="icon fa-whatever-icon-you-want"><span class="label">Foobar</span></a></li>

							-->
							<ul>
								<li><a href="#lunchmap" id="lunchmap-link" class="skel-layers-ignoreHref"><span class="icon fa-map">Lunch Map</span></a></li>
								<li><a href="#contact" id="contact-link" class="skel-layers-ignoreHref"><span class="icon fa-envelope">Contact</span></a></li>
							</ul>
						</nav>

				</div>

				<div class="bottom">

					<!-- Social Icons -->
						<ul class="icons">
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
							<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
							<li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
						</ul>

				</div>

			</div>

		<!-- Main -->
		<div id="main">

			<!-- About Me -->
			<section id="lunchmap" class="three">
				<div class="container">

					<header>
						<h2>Lunch Map</h2>
					</header>

					<p><div id="map" style="height:600px;"/></p>
				</div>
			</section>

			<!-- Contact -->
			<section id="contact" class="four">
				<div class="container">

					<header>
						<h2>작업중</h2>
					</header>

				</div>
			</section>
		</div>

		<!-- Footer -->
			<div id="footer">

				<!-- Copyright -->
					<ul class="copyright">
						<li>&copy; SilverNine. All rights reserved.</li>
					</ul>

			</div>
	</body>

    <!-- Scripts -->
    <script src="/lunchchart/assets/js/jquery.min.js"></script>
    <script src="/lunchchart/assets/js/jquery.scrolly.min.js"></script>
    <script src="/lunchchart/assets/js/jquery.scrollzer.min.js"></script>
    <script src="/lunchchart/assets/js/skel.min.js"></script>
    <script src="/lunchchart/assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="/lunchchart/assets/js/ie/respond.min.js"></script><![endif]-->
	<script src="/lunchchart/assets/js/main.js"></script>



	<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=<%= mapkey %>"></script>

	<script type="text/javascript">
		/*
		운영 : ZsJ3ILQMDIbSGASTvqJI
		개발 : Z343bXpadHrn2C7KXBUp
		*/
		var mapOptions = {
			center: new naver.maps.LatLng(37.483740, 127.121140),
			zoom: 12
		}

		var map = new naver.maps.Map('map', mapOptions);
	</script>
</html>