<!doctype html>
<html ng-app="pray">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lunch Chart</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/pray/pray_list.css" rel="stylesheet">
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="../js/core.js"></script>
    <script src="../js/controllers/prayController.js"></script>
    <script src="../js/services/prayService.js"></script>
    <script>
        $( document ).ready(function() {
        });
    </script>
</head>
<body ng-controller="main">
<form action="" method="post">
</form>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">모두의 기도</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">로그아웃</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li id="list_pray" class="active" ng-click="goMenu('pray')"><a href="#">기도문 목록<span class="sr-only">(current)</span></a></li>
                <li id="list_pray_today" ng-click="goMenu('pray_today')"><a href="#">오늘의 기도 관리</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">기도 목록</h1>
            <div class="table-responsive">
                <table id="pray_table" class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>기도제목</th>
                            <th>사용여부</th>
                            <th>등록일</th>
                            <th>수정일</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="pray in prays">
                            <td>{{pray.PRAY_NO}}</td>
                            <td>{{pray.PRAY_TITLE}}</td>
                            <td>{{pray.USE_YN}}</td>
                            <td>{{pray.RDATE}}</td>
                            <td>{{pray.MDATE}}</td>
                        </tr>
                    </tbody>
                </table>

                <table id="pray_today_table" class="table table-striped" style="display:none;">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>내용</th>
                        <th>날짜</th>
                        <th>인용</th>
                        <th>등록일</th>
                        <th>수정일</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="word in pray_today_words">
                        <td>{{word.WORD_NO}}</td>
                        <td>{{word.WORD_CONTENT}}</td>
                        <td>{{word.WORD_DATE}}</td>
                        <td>{{word.WORD_WHERE}}</td>
                        <td>{{word.RDATE}}</td>
                        <td>{{word.MDATE}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>